In [12]:
from scipy import stats
import numpy as np
import pandas as pd

Test of `Scipy` Chi Square Implementation
===

In [13]:
# Quick test of scipy chi square implementation
e = np.array([1755, 952, 790, 178, 705])
o = np.array([490, 279, 250, 50, 193])
stats.chi2_contingency(np.stack([e, o]))

(2.5348285580374093,
 0.6384102476401078,
 4,
 array([[1742.83941865,  955.65047855,  807.37327189,  177.00106345,
          697.13576746],
        [ 502.16058135,  275.34952145,  232.62672811,   50.99893655,
          200.86423254]]))

Totals of 5 Rhythm Categories for Cicero's Speeches
===

In [19]:
cicero_speeches = pd.read_csv('../data/cicero_speeches_pca.csv')
cicero_speeches = cicero_speeches.drop(columns=['Unnamed: 0'])
cicero_speeches_total = pd.DataFrame()
cicero_speeches_total['cretic-trochee'] = cicero_speeches[['cretic-trochee (-u--x)', 'cretic-trochee 1 res (uuu--x)',
       'cretic-trochee 1 res (-uuu-x)', 'cretic-trochee 1 res (-u-uux)']].sum(axis=1)
cicero_speeches_total['double-molossus-cretic'] = cicero_speeches[['double/molossus-cretic pure double-cretic (-u--ux)',
       'double/molossus-cretic pure molossus-cretic (----ux)',
       'double/molossus-cretic 1 res (uuu--ux)',
       'double/molossus-cretic 1 res (-uuu-ux)',
       'double/molossus-cretic 1 res (-u-uuux)',
       'double/molossus-cretic molossus not chor 1 res (uu---ux)',
       'double/molossus-cretic molossus not chor 1 res (--uu-ux)',
       'double/molossus-cretic molossus not chor 1 res (---uuux)',
       'double/molossus-cretic chor res (-uu--ux)',
       'double/molossus-cretic ep res (-u---ux)']].sum(axis=1)
cicero_speeches_total['double-trochee'] = cicero_speeches[['double trochee (-u-x)',
       'double trochee 1 res (uuu-x)', 'double trochee 1 res (-uuux)']].sum(axis=1)
cicero_speeches_total['hypodochmiac'] = cicero_speeches[['hypodochmiac (-u-ux)', 'hypodochmiac 1 res (uuu-ux)',
       'hypodochmiac 1 res (-uuuux)']].sum(axis=1)
cicero_speeches_total['other'] = cicero_speeches[['spondaic (---x)', 'heroic (-uu-x)',
       'first paeon (-uux)', 'choriamb trochee (-uu--x)',
       'short sequence (uuuuux)', 'misc_clausulae']].sum(axis=1)
cicero_speeches_total['title'] = cicero_speeches['title'].values

In [20]:
cicero_speeches_total.head()

,cretic-trochee,double-molossus-cretic,double-trochee,hypodochmiac,other,title
0,215,146,236,45,102,de domo sua
1,136,78,116,13,59,de haruspicum responso
2,35,33,44,11,19,de lege agraria 1
3,175,117,137,39,96,de lege agraria 2
4,21,24,17,5,16,de lege agraria 3

Method for Generating Chi Square Results
===

In [21]:
def chi_square_corpus(df):
    titles = df['title'].values
    chis = []
    ps = []
    for t in titles:
        speech = df.loc[df['title'] == t]
        speech = speech.drop(columns=['title'])
        rest_of_speeches = df.loc[df['title'] != t]
        rest_of_speeches = rest_of_speeches.drop(columns=['title'])
        rest_of_speeches = rest_of_speeches.sum(axis=0)
        rest_of_speeches = pd.DataFrame(data=rest_of_speeches).T
        test_df = speech.append(rest_of_speeches)
        chi, p, dof, table = stats.chi2_contingency(test_df)
        chis.append(chi)
        ps.append(p)
    new_df = pd.DataFrame()
    new_df['title'] = titles
    new_df['chi'] = chis
    new_df['p'] = [round(p, 5) for p in ps]
    return new_df

Chi Square Table of 5 Rhythm Categories for Cicero's Speeches
===

In [22]:
cicero_totaled_chi_df = chi_square_corpus(cicero_speeches_total)

In [23]:
cicero_totaled_chi_df

                            title         chi        p
0                     de domo sua   23.330701  0.00011
1          de haruspicum responso   14.462578  0.00596
2               de lege agraria 1    5.255350  0.26209
3               de lege agraria 2    8.543234  0.07359
4               de lege agraria 3    2.355887  0.67061
5      de provinciis consularibus   19.136572  0.00074
6                    in caecilium    4.302021  0.36667
7                  in catilinam 1   12.122659  0.01646
8                  in catilinam 2   10.688040  0.03030
9                  in catilinam 3   11.604888  0.02054
10                 in catilinam 4   13.476694  0.00917
11                     in pisonem    7.579625  0.10825
12                    in vatinium    6.345837  0.17477
13                    in verrem 1   11.378087  0.02263
14                  in verrem 2 1   25.968961  0.00003
15                  in verrem 2 2   19.514286  0.00062
16                  in verrem 2 3   16.607740  0.00230
17                  in verrem 2 4    7.614409  0.10677
18                  in verrem 2 5    6.423261  0.16969
19                  philippicae 1    2.700351  0.60915
20                 philippicae 10    8.990242  0.06134
21                 philippicae 11   12.541015  0.01375
22                 philippicae 12   30.160599  0.00000
23                 philippicae 13    5.216999  0.26575
24                 philippicae 14   10.162344  0.03778
25                  philippicae 2    4.831529  0.30502
26                  philippicae 3    9.775299  0.04439
27                  philippicae 4   11.351992  0.02288
28                  philippicae 5    9.723550  0.04535
29                  philippicae 6    1.592517  0.81014
30                  philippicae 7    8.246524  0.08295
31                  philippicae 8   13.290328  0.00994
32                  philippicae 9    6.121143  0.19028
33        post reditum ad populum   14.815715  0.00510
34         post reditum in senatu   23.015709  0.00013
35                     pro archia   13.766879  0.00808
36                      pro balbo   55.592459  0.00000
37                    pro caecina   11.824901  0.01870
38                     pro caelio   19.028013  0.00078
39                   pro cluentio    6.163063  0.18730
40                     pro flacco    9.059646  0.05963
41                    pro fonteio    5.832488  0.21201
42               pro lege manilia   64.474697  0.00000
43                    pro ligario    4.405655  0.35388
44                   pro marcello   24.053346  0.00008
45                     pro milone    9.288759  0.05427
46                     pro murena    4.617411  0.32885
47                    pro plancio   41.314313  0.00000
48                   pro quinctio   32.831154  0.00000
49  pro rabirio perduellionis reo    0.647588  0.95763
50            pro rabirio postumo   16.710154  0.00220
51              pro rege deiotaro   14.085808  0.00703
52             pro roscio amerino   38.255333  0.00000
53             pro roscio comoedo  142.209746  0.00000
54                     pro scauro   14.460469  0.00596
55                     pro sestio   34.145162  0.00000
56                      pro sulla    4.676364  0.32214
57                     pro tullio   24.356647  0.00007

Chi Square of Cicero Speeches for all Categories
===

In [35]:
cicero_speeches.head()

,title,cretic-trochee (-u--x),cretic-trochee 1 res (uuu--x),cretic-trochee 1 res (-uuu-x),cretic-trochee 1 res (-u-uux),double/molossus-cretic pure double-cretic (-u--ux),double/molossus-cretic pure molossus-cretic (----ux),double/molossus-cretic 1 res (uuu--ux),double/molossus-cretic 1 res (-uuu-ux),double/molossus-cretic 1 res (-u-uuux),...,hypodochmiac (-u-ux),hypodochmiac 1 res (uuu-ux),hypodochmiac 1 res (-uuuux),spondaic (---x),heroic (-uu-x),first paeon (-uux),choriamb trochee (-uu--x),short sequence (uuuuux),misc_clausulae,author
0,de domo sua,137,16,51,11,61,35,11,4,1,...,42,2,1,52,13,14,5,1,17,cicero
1,de haruspicum responso,82,8,37,9,26,26,4,2,1,...,12,0,1,41,11,2,2,1,2,cicero
2,de lege agraria 1,23,2,6,4,12,13,2,0,0,...,10,1,0,13,0,1,0,0,5,cicero
3,de lege agraria 2,131,8,26,10,35,38,4,3,2,...,38,1,0,49,15,16,5,0,11,cicero
4,de lege agraria 3,13,2,3,3,11,9,1,0,0,...,4,1,0,9,1,1,0,0,5,cicero

In [37]:
chi_square_corpus(cicero_speeches.drop(columns=['author']))

                            title         chi        p
0                     de domo sua   40.957185  0.02320
1          de haruspicum responso   42.039523  0.01780
2               de lege agraria 1   27.379938  0.33718
3               de lege agraria 2   30.631379  0.20152
4               de lege agraria 3   28.830866  0.27105
5      de provinciis consularibus   48.669721  0.00310
6                    in caecilium   18.159192  0.83556
7                  in catilinam 1   41.213250  0.02180
8                  in catilinam 2   30.848473  0.19409
9                  in catilinam 3   27.586805  0.32722
10                 in catilinam 4   32.777516  0.13672
11                     in pisonem   29.459231  0.24518
12                    in vatinium   25.600041  0.42918
13                    in verrem 1   37.215435  0.05507
14                  in verrem 2 1   67.031108  0.00001
15                  in verrem 2 2   64.543472  0.00002
16                  in verrem 2 3   47.808148  0.00393
17                  in verrem 2 4   38.814598  0.03845
18                  in verrem 2 5   34.121472  0.10534
19                  philippicae 1   24.947404  0.46532
20                 philippicae 10   27.841977  0.31518
21                 philippicae 11   52.330907  0.00109
22                 philippicae 12   58.712238  0.00016
23                 philippicae 13   53.298377  0.00082
24                 philippicae 14   38.473987  0.04156
25                  philippicae 2   61.992605  0.00006
26                  philippicae 3   54.691596  0.00054
27                  philippicae 4   34.869720  0.09059
28                  philippicae 5   32.119082  0.15460
29                  philippicae 6   25.910301  0.41240
30                  philippicae 7   23.238753  0.56362
31                  philippicae 8   36.033100  0.07110
32                  philippicae 9   25.325116  0.44428
33        post reditum ad populum   34.913051  0.08979
34         post reditum in senatu   36.716716  0.06141
35                     pro archia   24.795612  0.47387
36                      pro balbo   71.717714  0.00000
37                    pro caecina   35.880645  0.07343
38                     pro caelio   41.398037  0.02084
39                   pro cluentio   53.656472  0.00074
40                     pro flacco   23.423676  0.55284
41                    pro fonteio   21.115545  0.68615
42               pro lege manilia   87.046297  0.00000
43                    pro ligario   29.934051  0.22677
44                   pro marcello   73.056438  0.00000
45                     pro milone   29.822743  0.23099
46                     pro murena   29.964556  0.22562
47                    pro plancio   58.299957  0.00018
48                   pro quinctio   85.643725  0.00000
49  pro rabirio perduellionis reo   24.718303  0.47825
50            pro rabirio postumo   37.893521  0.04738
51              pro rege deiotaro   51.459692  0.00140
52             pro roscio amerino  107.585547  0.00000
53             pro roscio comoedo  196.054557  0.00000
54                     pro scauro   34.660358  0.09453
55                     pro sestio   63.017519  0.00004
56                      pro sulla   22.206426  0.62380
57                     pro tullio   65.115250  0.00002

Rhythmic/Unrhythmic Table of Cicero's Speeches
===

In [25]:
rhythmic_unrhythmic_cicero_speeches_df = pd.DataFrame()
rhythmic_unrhythmic_cicero_speeches_df['rhythmic'] = cicero_speeches_total[[
    'cretic-trochee', 'double-molossus-cretic', 'double-trochee', 'hypodochmiac'
]].sum(axis=1)
rhythmic_unrhythmic_cicero_speeches_df['unrhythmic'] = cicero_speeches_total['other'].values
rhythmic_unrhythmic_cicero_speeches_df['title'] = cicero_speeches_total['title'].values
rhythmic_unrhythmic_cicero_speeches_df.head()

   rhythmic  unrhythmic                   title
0       642         102             de domo sua
1       343          59  de haruspicum responso
2       123          19       de lege agraria 1
3       468          96       de lege agraria 2
4        67          16       de lege agraria 3

In [26]:
rhythmic_unrhythmic_cicero_speeches_chi = chi_square_corpus(rhythmic_unrhythmic_cicero_speeches_df)
rhythmic_unrhythmic_cicero_speeches_chi

                            title         chi        p
0                     de domo sua    6.916403  0.00854
1          de haruspicum responso    1.886225  0.16963
2               de lege agraria 1    1.320256  0.25055
3               de lege agraria 2    0.028352  0.86628
4               de lege agraria 3    0.097904  0.75436
5      de provinciis consularibus    7.665223  0.00563
6                    in caecilium    1.278808  0.25812
7                  in catilinam 1    1.122944  0.28929
8                  in catilinam 2    4.526056  0.03338
9                  in catilinam 3    1.137329  0.28622
10                 in catilinam 4   10.639004  0.00111
11                     in pisonem    0.945903  0.33076
12                    in vatinium    4.083166  0.04331
13                    in verrem 1    0.310919  0.57712
14                  in verrem 2 1   14.321320  0.00015
15                  in verrem 2 2    6.689260  0.00970
16                  in verrem 2 3    3.654804  0.05591
17                  in verrem 2 4    0.776599  0.37818
18                  in verrem 2 5    0.002231  0.96232
19                  philippicae 1    0.000305  0.98606
20                 philippicae 10    0.201479  0.65353
21                 philippicae 11    1.668518  0.19646
22                 philippicae 12    0.959195  0.32739
23                 philippicae 13    0.602563  0.43760
24                 philippicae 14    3.237492  0.07197
25                  philippicae 2    1.929183  0.16485
26                  philippicae 3    4.603974  0.03190
27                  philippicae 4    7.548945  0.00600
28                  philippicae 5    0.518762  0.47137
29                  philippicae 6    0.347668  0.55544
30                  philippicae 7    0.726495  0.39402
31                  philippicae 8    5.247876  0.02197
32                  philippicae 9    4.456033  0.03478
33        post reditum ad populum    1.870552  0.17141
34         post reditum in senatu    0.784392  0.37580
35                     pro archia    4.723012  0.02976
36                      pro balbo   17.735700  0.00003
37                    pro caecina   10.182275  0.00142
38                     pro caelio    7.843469  0.00510
39                   pro cluentio    0.061206  0.80460
40                     pro flacco    0.431545  0.51123
41                    pro fonteio    0.209036  0.64752
42               pro lege manilia   10.780683  0.00103
43                    pro ligario    1.033892  0.30925
44                   pro marcello    9.061424  0.00261
45                     pro milone    0.489622  0.48410
46                     pro murena    2.348565  0.12540
47                    pro plancio    8.571620  0.00341
48                   pro quinctio   20.932040  0.00000
49  pro rabirio perduellionis reo    0.090803  0.76316
50            pro rabirio postumo    3.400367  0.06518
51              pro rege deiotaro    1.172990  0.27879
52             pro roscio amerino   17.015331  0.00004
53             pro roscio comoedo  140.543401  0.00000
54                     pro scauro    0.916781  0.33832
55                     pro sestio    1.535794  0.21524
56                      pro sulla    0.251701  0.61588
57                     pro tullio   15.231902  0.00010

Total of 5 Rhythm Categories of Tacitus
===

In [29]:
tacitus = pd.read_csv('../data/tacitus_pca.csv')
tacitus = tacitus.drop(columns=['Unnamed: 0'])
tacitus_total = pd.DataFrame()
tacitus_total['cretic-trochee'] = tacitus[['cretic-trochee (-u--x)', 'cretic-trochee 1 res (uuu--x)',
       'cretic-trochee 1 res (-uuu-x)', 'cretic-trochee 1 res (-u-uux)']].sum(axis=1)
tacitus_total['double-molossus-cretic'] = tacitus[['double/molossus-cretic pure double-cretic (-u--ux)',
       'double/molossus-cretic pure molossus-cretic (----ux)',
       'double/molossus-cretic 1 res (uuu--ux)',
       'double/molossus-cretic 1 res (-uuu-ux)',
       'double/molossus-cretic 1 res (-u-uuux)',
       'double/molossus-cretic molossus not chor 1 res (uu---ux)',
       'double/molossus-cretic molossus not chor 1 res (--uu-ux)',
       'double/molossus-cretic molossus not chor 1 res (---uuux)',
       'double/molossus-cretic chor res (-uu--ux)',
       'double/molossus-cretic ep res (-u---ux)']].sum(axis=1)
tacitus_total['double-trochee'] = tacitus[['double trochee (-u-x)',
       'double trochee 1 res (uuu-x)', 'double trochee 1 res (-uuux)']].sum(axis=1)
tacitus_total['hypodochmiac'] = tacitus[['hypodochmiac (-u-ux)', 'hypodochmiac 1 res (uuu-ux)',
       'hypodochmiac 1 res (-uuuux)']].sum(axis=1)
tacitus_total['other'] = tacitus[['spondaic (---x)', 'heroic (-uu-x)',
       'first paeon (-uux)', 'choriamb trochee (-uu--x)',
       'short sequence (uuuuux)', 'misc_clausulae']].sum(axis=1)
tacitus_total['title'] = tacitus['title'].values

In [30]:
tacitus_total.head()

,cretic-trochee,double-molossus-cretic,double-trochee,hypodochmiac,other,title
0,69.0,74.0,83.0,33.0,175.0,agricola
1,106.0,141.0,131.0,44.0,332.0,annales book 1
2,49.0,54.0,58.0,27.0,123.0,annales book 11
3,90.0,69.0,79.0,32.0,199.0,annales book 12
4,65.0,70.0,82.0,28.0,194.0,annales book 13

Chi Square Table of 5 Rhythm Categories for Tacitus
===

In [31]:
tacitus_total_chi = chi_square_corpus(tacitus_total)
tacitus_total_chi

               title        chi        p
0           agricola   3.448332  0.48578
1     annales book 1   5.931865  0.20429
2    annales book 11   5.006846  0.28660
3    annales book 12   3.609361  0.46145
4    annales book 13   2.479791  0.64826
5    annales book 14   5.275282  0.26020
6    annales book 15   0.593708  0.96376
7    annales book 16   2.822316  0.58799
8     annales book 2  21.870342  0.00021
9     annales book 3   3.732413  0.44343
10    annales book 4   7.962609  0.09296
11    annales book 5   2.154270  0.70741
12    annales book 6   0.834581  0.93375
13          dialogus  27.822914  0.00001
14          germania  19.909178  0.00052
15  historiae book 1   3.411247  0.49150
16  historiae book 2   5.212429  0.26619
17  historiae book 3   0.988715  0.91150
18  historiae book 4   5.252659  0.26234
19  historiae book 5   1.648499  0.80005

Chi Square of Tacitus of all Categories
===

In [38]:
tacitus.head()

,title,cretic-trochee (-u--x),cretic-trochee 1 res (uuu--x),cretic-trochee 1 res (-uuu-x),cretic-trochee 1 res (-u-uux),double/molossus-cretic pure double-cretic (-u--ux),double/molossus-cretic pure molossus-cretic (----ux),double/molossus-cretic 1 res (uuu--ux),double/molossus-cretic 1 res (-uuu-ux),double/molossus-cretic 1 res (-u-uuux),...,hypodochmiac (-u-ux),hypodochmiac 1 res (uuu-ux),hypodochmiac 1 res (-uuuux),spondaic (---x),heroic (-uu-x),first paeon (-uux),choriamb trochee (-uu--x),short sequence (uuuuux),misc_clausulae,author
0,agricola,45.0,2.0,9.0,13.0,24.0,15.0,2.0,1.0,2.0,...,29.0,3.0,1.0,95.0,20.0,37.0,17.0,2.0,4.0,tacitus
1,annales book 1,66.0,10.0,8.0,22.0,32.0,34.0,5.0,9.0,4.0,...,35.0,2.0,7.0,184.0,48.0,68.0,25.0,0.0,7.0,tacitus
2,annales book 11,25.0,5.0,6.0,13.0,18.0,8.0,1.0,2.0,2.0,...,20.0,1.0,6.0,74.0,18.0,23.0,7.0,0.0,1.0,tacitus
3,annales book 12,45.0,8.0,16.0,21.0,19.0,15.0,4.0,3.0,3.0,...,27.0,2.0,3.0,111.0,25.0,42.0,14.0,1.0,6.0,tacitus
4,annales book 13,43.0,11.0,6.0,5.0,16.0,11.0,3.0,2.0,6.0,...,21.0,1.0,6.0,115.0,29.0,35.0,11.0,2.0,2.0,tacitus

In [40]:
chi_square_corpus(tacitus.drop(columns=['author']))

               title        chi        p
0           agricola  21.384856  0.67097
1     annales book 1  27.335823  0.33932
2    annales book 11  20.865542  0.70008
3    annales book 12  24.965916  0.46429
4    annales book 13  26.085941  0.40302
5    annales book 14  19.856461  0.75431
6    annales book 15  16.903612  0.88526
7    annales book 16  34.536254  0.09693
8     annales book 2  39.904518  0.02983
9     annales book 3  36.426768  0.06537
10    annales book 4  32.148329  0.15377
11    annales book 5  20.010297  0.74628
12    annales book 6  24.263658  0.50418
13          dialogus  61.617029  0.00006
14          germania  41.266019  0.02152
15  historiae book 1  21.460967  0.66665
16  historiae book 2  21.443678  0.66763
17  historiae book 3  33.811123  0.11201
18  historiae book 4  31.117969  0.18514
19  historiae book 5  29.224804  0.25463

Rhythmic/Unrhythmic Table of Tacitus
===

In [33]:
rhythmic_unrhythmic_tacitus_df = pd.DataFrame()
rhythmic_unrhythmic_tacitus_df['rhythmic'] = tacitus_total[[
    'cretic-trochee', 'double-molossus-cretic', 'double-trochee', 'hypodochmiac'
]].sum(axis=1)
rhythmic_unrhythmic_tacitus_df['unrhythmic'] = tacitus_total['other'].values
rhythmic_unrhythmic_tacitus_df['title'] = tacitus_total['title'].values
rhythmic_unrhythmic_tacitus_df.head()

   rhythmic  unrhythmic            title
0     259.0       175.0         agricola
1     422.0       332.0   annales book 1
2     188.0       123.0  annales book 11
3     270.0       199.0  annales book 12
4     245.0       194.0  annales book 13

In [34]:
rhythmic_unrhythmic_tacitus_chi = chi_square_corpus(rhythmic_unrhythmic_tacitus_df)
rhythmic_unrhythmic_tacitus_chi

               title        chi        p
0           agricola   0.753002  0.38553
1     annales book 1   0.758375  0.38384
2    annales book 11   0.987066  0.32046
3    annales book 12   0.001383  0.97034
4    annales book 13   0.493704  0.48228
5    annales book 14   0.153639  0.69508
6    annales book 15   0.001404  0.97011
7    annales book 16   1.217397  0.26987
8     annales book 2   8.616343  0.00333
9     annales book 3   0.266083  0.60597
10    annales book 4   0.444583  0.50492
11    annales book 5   0.032353  0.85725
12    annales book 6   0.095536  0.75725
13          dialogus  21.635010  0.00000
14          germania  15.833226  0.00007
15  historiae book 1   2.638150  0.10432
16  historiae book 2   1.425361  0.23252
17  historiae book 3   0.902657  0.34207
18  historiae book 4   1.758208  0.18485
19  historiae book 5   0.761906  0.38273

Total of 5 Rhythm Categories of Pliny
===

In [42]:
pliny = pd.read_csv('../data/pliny_pca.csv')
pliny = pliny.drop(columns=['Unnamed: 0'])
pliny_total = pd.DataFrame()
pliny_total['cretic-trochee'] = pliny[['cretic-trochee (-u--x)', 'cretic-trochee 1 res (uuu--x)',
       'cretic-trochee 1 res (-uuu-x)', 'cretic-trochee 1 res (-u-uux)']].sum(axis=1)
pliny_total['double-molossus-cretic'] = pliny[['double/molossus-cretic pure double-cretic (-u--ux)',
       'double/molossus-cretic pure molossus-cretic (----ux)',
       'double/molossus-cretic 1 res (uuu--ux)',
       'double/molossus-cretic 1 res (-uuu-ux)',
       'double/molossus-cretic 1 res (-u-uuux)',
       'double/molossus-cretic molossus not chor 1 res (uu---ux)',
       'double/molossus-cretic molossus not chor 1 res (--uu-ux)',
       'double/molossus-cretic molossus not chor 1 res (---uuux)',
       'double/molossus-cretic chor res (-uu--ux)',
       'double/molossus-cretic ep res (-u---ux)']].sum(axis=1)
pliny_total['double-trochee'] = pliny[['double trochee (-u-x)',
       'double trochee 1 res (uuu-x)', 'double trochee 1 res (-uuux)']].sum(axis=1)
pliny_total['hypodochmiac'] = pliny[['hypodochmiac (-u-ux)', 'hypodochmiac 1 res (uuu-ux)',
       'hypodochmiac 1 res (-uuuux)']].sum(axis=1)
pliny_total['other'] = pliny[['spondaic (---x)', 'heroic (-uu-x)',
       'first paeon (-uux)', 'choriamb trochee (-uu--x)',
       'short sequence (uuuuux)', 'misc_clausulae']].sum(axis=1)
pliny_total['title'] = pliny['title'].values

In [43]:
pliny_total.head()

,cretic-trochee,double-molossus-cretic,double-trochee,hypodochmiac,other,title
0,39.0,30.0,17.0,15.0,50.0,epistulae 10 trajan
1,183.0,86.0,64.0,21.0,60.0,epistulae 8
2,200.0,98.0,81.0,20.0,97.0,epistulae 9
3,490.0,279.0,250.0,50.0,193.0,panegyricus
4,1.0,1.0,0.0,0.0,3.0,versus

In [44]:
chi_square_corpus(pliny_total)

                  title        chi        p
0   epistulae 10 trajan  48.161174  0.00000
1           epistulae 8   6.808644  0.14635
2           epistulae 9   5.132933  0.27393
3           panegyricus   4.146110  0.38659
4                versus   7.294109  0.12114
5           epistulae 4   3.279842  0.51213
6           epistulae 5   7.118238  0.12977
7           epistulae 7   4.589673  0.33205
8    epistulae 10 pliny  15.505164  0.00376
9           epistulae 6   0.392389  0.98310
10          epistulae 2   1.618875  0.80540
11          epistulae 3  12.192178  0.01598
12          epistulae 1   1.644103  0.80084

Chi of Rhythms of All Categories Pliny
===

In [45]:
pliny.head()

,title,cretic-trochee (-u--x),cretic-trochee 1 res (uuu--x),cretic-trochee 1 res (-uuu-x),cretic-trochee 1 res (-u-uux),double/molossus-cretic pure double-cretic (-u--ux),double/molossus-cretic pure molossus-cretic (----ux),double/molossus-cretic 1 res (uuu--ux),double/molossus-cretic 1 res (-uuu-ux),double/molossus-cretic 1 res (-u-uuux),...,hypodochmiac (-u-ux),hypodochmiac 1 res (uuu-ux),hypodochmiac 1 res (-uuuux),spondaic (---x),heroic (-uu-x),first paeon (-uux),choriamb trochee (-uu--x),short sequence (uuuuux),misc_clausulae,author
0,epistulae 10 trajan,22.0,6.0,4.0,7.0,10.0,7.0,0.0,2.0,1.0,...,15.0,0.0,0.0,26.0,6.0,14.0,3.0,0.0,1.0,pliny
1,epistulae 8,114.0,11.0,19.0,39.0,46.0,9.0,6.0,8.0,0.0,...,20.0,1.0,0.0,21.0,13.0,11.0,9.0,2.0,4.0,pliny
2,epistulae 9,117.0,18.0,19.0,46.0,53.0,12.0,18.0,2.0,2.0,...,16.0,4.0,0.0,32.0,15.0,16.0,7.0,14.0,13.0,pliny
3,panegyricus,298.0,30.0,60.0,102.0,162.0,29.0,22.0,11.0,8.0,...,45.0,2.0,3.0,101.0,21.0,28.0,24.0,1.0,18.0,pliny
4,versus,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,pliny

In [46]:
chi_square_corpus(pliny.drop(columns=['author']))

                  title         chi        p
0   epistulae 10 trajan  106.648796  0.00000
1           epistulae 8   32.449252  0.14542
2           epistulae 9   87.284535  0.00000
3           panegyricus   30.028933  0.22321
4                versus   42.283960  0.01675
5           epistulae 4   17.656231  0.85663
6           epistulae 5   24.430674  0.49461
7           epistulae 7   20.911094  0.69756
8    epistulae 10 pliny   31.586426  0.17033
9           epistulae 6   23.532935  0.54647
10          epistulae 2   21.027591  0.69107
11          epistulae 3   34.440196  0.09883
12          epistulae 1   38.340203  0.04284

Rhythmic/Unrhythmic Pliny
===

In [47]:
rhythmic_unrhythmic_pliny_df = pd.DataFrame()
rhythmic_unrhythmic_pliny_df['rhythmic'] = pliny_total[[
    'cretic-trochee', 'double-molossus-cretic', 'double-trochee', 'hypodochmiac'
]].sum(axis=1)
rhythmic_unrhythmic_pliny_df['unrhythmic'] = pliny_total['other'].values
rhythmic_unrhythmic_pliny_df['title'] = pliny_total['title'].values
rhythmic_unrhythmic_pliny_df.head()

   rhythmic  unrhythmic                title
0     101.0        50.0  epistulae 10 trajan
1     354.0        60.0          epistulae 8
2     399.0        97.0          epistulae 9
3    1069.0       193.0          panegyricus
4       2.0         3.0               versus

In [48]:
chi_square_corpus(rhythmic_unrhythmic_pliny_df)

                  title        chi        p
0   epistulae 10 trajan  29.274457  0.00000
1           epistulae 8   1.263810  0.26093
2           epistulae 9   3.176966  0.07468
3           panegyricus   1.836395  0.17537
4                versus   4.032413  0.04463
5           epistulae 4   0.437236  0.50846
6           epistulae 5   2.031210  0.15410
7           epistulae 7   0.003932  0.95000
8    epistulae 10 pliny   2.303399  0.12909
9           epistulae 6   0.007141  0.93266
10          epistulae 2   0.622450  0.43014
11          epistulae 3   0.027431  0.86845
12          epistulae 1   0.256054  0.61284